In [1]:
import pandas as pd

In [3]:
series = pd.Series([5,4,3,35,876,123,43,12])
series

0      5
1      4
2      3
3     35
4    876
5    123
6     43
7     12
dtype: int64

In [4]:
print(type(series))
print(type(series[1]))

<class 'pandas.core.series.Series'>
<class 'numpy.int64'>

In [5]:
series[2]

3

In [7]:
cad = pd.Series(['h','o','l','a','p','l','a','t','z','i'])
cad

0    h
1    o
2    l
3    a
4    p
5    l
6    a
7    t
8    z
9    i
dtype: object

In [10]:
lst = ['Hola', 'Mundo', 'Robotico']
df = pd.DataFrame(lst)
print(df)

          0
0      Hola
1     Mundo
2  Robotico

In [12]:
data = {'Nombre':['Oscar', 'Lisney', 'Doris', 'Leonardo'], 'Edad':[29,20,58,20], 'pais':['Colombia', 'Chile', 'Peru', 'Mexico']}
df = pd.DataFrame(data)
df

     Nombre  Edad      pais
0     Oscar    29  Colombia
1    Lisney    20     Chile
2     Doris    58      Peru
3  Leonardo    20    Mexico

In [13]:
print(df[['Nombre', 'pais']])

     Nombre      pais
0     Oscar  Colombia
1    Lisney     Chile
2     Doris      Peru
3  Leonardo    Mexico

In [14]:
data = pd.read_csv('canciones-2018.csv')
data.head(5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [15]:
artist = data.artists
print(artist[5])
print(type(artist))
print(type(artist[1]))

Post Malone
<class 'pandas.core.series.Series'>
<class 'str'>

In [16]:
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [18]:
data.describe()

       danceability      energy  ...    duration_ms  time_signature
count     100.00000  100.000000  ...     100.000000          100.00
mean        0.71646    0.659060  ...  205206.780000            3.98
std         0.13107    0.145067  ...   40007.893404            0.20
min         0.25800    0.296000  ...   95467.000000            3.00
25%         0.63550    0.562000  ...  184680.000000            4.00
50%         0.73300    0.678000  ...  205047.500000            4.00
75%         0.79825    0.772250  ...  221493.250000            4.00
max         0.96400    0.909000  ...  417920.000000            5.00

[8 rows x 13 columns]

In [19]:
data.shape

(100, 16)

In [20]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [21]:
data.sort_index(axis=0, ascending=False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]

## Reto
Seleccionar 3 columnas y ordenarlas de manera ascendente

In [22]:
test = data[['artists', 'name', 'danceability']]
test

         artists                               name  danceability
0          Drake                         God's Plan         0.754
1   XXXTENTACION                               SAD!         0.740
2    Post Malone         rockstar (feat. 21 Savage)         0.587
3    Post Malone       Psycho (feat. Ty Dolla $ign)         0.739
4          Drake                     In My Feelings         0.835
..           ...                                ...           ...
95     Zac Efron                  Rewrite The Stars         0.684
96  Clean Bandit  I Miss You (feat. Julia Michaels)         0.638
97     DJ Khaled                         No Brainer         0.552
98          ZAYN        Dusk Till Dawn - Radio Edit         0.258
99    Dean Lewis                         Be Alright         0.553

[100 rows x 3 columns]

In [23]:
test.sort_values(by='artists', ascending=True)

                artists                                    name  danceability
23  5 Seconds of Summer                              Youngblood         0.596
55              6ix9ine  FEFE (feat. Nicki Minaj & Murda Beatz)         0.931
88               Anitta                                Downtown         0.775
60           Anne-Marie                                    2002         0.697
65        Ariana Grande                          God is a woman         0.602
..                  ...                                     ...           ...
38         XXXTENTACION                                 changes         0.669
98                 ZAYN             Dusk Till Dawn - Radio Edit         0.258
95            Zac Efron                       Rewrite The Stars         0.684
14                 Zedd                              The Middle         0.753
35         benny blanco         Eastside (with Halsey & Khalid)         0.560

[100 rows x 3 columns]

In [24]:
test.sort_values(by='name', ascending=True)

                artists  ... danceability
77          Sofia Reyes  ...        0.792
60           Anne-Marie  ...        0.697
34           Luis Fonsi  ...        0.726
15       Kendrick Lamar  ...        0.698
47         Selena Gomez  ...        0.601
..                  ...  ...          ...
23  5 Seconds of Summer  ...        0.596
38         XXXTENTACION  ...        0.669
80        Billie Eilish  ...        0.351
16        Ariana Grande  ...        0.699
2           Post Malone  ...        0.587

[100 rows x 3 columns]

In [25]:
test.sort_values(by='danceability', ascending=True)

          artists                                    name  danceability
98           ZAYN             Dusk Till Dawn - Radio Edit         0.258
93   Keala Settle                              This Is Me         0.284
80  Billie Eilish                    lovely (with Khalid)         0.351
49     The Weeknd                        Call Out My Name         0.489
11     Juice WRLD                            Lucid Dreams         0.511
..            ...                                     ...           ...
61          Drake                                 Nonstop         0.912
18   XXXTENTACION                               Moonlight         0.921
19     BlocBoy JB                Look Alive (feat. Drake)         0.922
55        6ix9ine  FEFE (feat. Nicki Minaj & Murda Beatz)         0.931
91       Lil Baby                              Yes Indeed         0.964

[100 rows x 3 columns]

In [26]:
test.sort_values(by=['artists', 'name'], ascending=True)

                artists                                    name  danceability
23  5 Seconds of Summer                              Youngblood         0.596
55              6ix9ine  FEFE (feat. Nicki Minaj & Murda Beatz)         0.931
88               Anitta                                Downtown         0.775
60           Anne-Marie                                    2002         0.697
65        Ariana Grande                          God is a woman         0.602
..                  ...                                     ...           ...
38         XXXTENTACION                                 changes         0.669
98                 ZAYN             Dusk Till Dawn - Radio Edit         0.258
95            Zac Efron                       Rewrite The Stars         0.684
14                 Zedd                              The Middle         0.753
35         benny blanco         Eastside (with Halsey & Khalid)         0.560

[100 rows x 3 columns]